<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>O:Pocket - Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<nav class="navbar">
    <div class="logo">O:Pocket</div>
    <ul class="nav-links">
        <li><a th:href="@{/feed}">Races</a></li>
        <li><a th:href="@{/logout}" class="btn-link">Log out</a></li>
    </ul>
</nav>

<main class="main-container">
    <div class="profile-container">
        <div class="left-column">
            <div class="content-box user-card">
                <div class="profile-avatar">
                    <img th:src="@{/images/pfp.png}" alt="profile-picture">
                </div>

                <h2 th:text="${user.firstName} + ' ' + ${user.lastName}">Fanyn Vacek</h2>

                <div class="divider"></div>
                <div class="action-buttons">
                    <a th:href="@{/event/add}" class="main-btn" style="text-decoration:none;">Create Race</a>
                    <a th:href="@{/feed}" class="main-btn" style="text-decoration: none;">Join Race</a>
                    <a th:href="@{/my-events}" class="main-btn secondary-btn" style="text-decoration: none;">My
                        Events</a>
                    <a th:href="@{/my-registrations}" class="main-btn secondary-btn" style="text-decoration: none;">My
                        Registrations</a>
                </div>
                <div class="divider"></div>
                <a th:href="@{/profile/edit}" class="edit-btn">Edit Profile</a>
            </div>
        </div>

        <div class="right-column">
            <div class="content-box">
                <h3 class="box-title">Upcoming race</h3>
                <div th:if="${!upcomingRegistrations.isEmpty()}" th:with="registration=${upcomingRegistrations[0]}"
                     class="race-row">
                    <div class="date-container">
                        <span class="day" th:text="${#temporals.day(registration.event.date)}">29</span>
                        <span class="month" th:text="${#temporals.monthNameShort(registration.event.date)}">DEC</span>
                    </div>
                    <div class="race-info">
                        <h4 th:text="${registration.event.name}">Vánoční Kufrování</h4>
                        <p th:text="${registration.event.location} + ' • ' + ${registration.category.name}">Chrast •
                            H21</p>
                    </div>
                    <div class="unregister-container">
                        <form th:action="@{/event/unregister}" method="post" style="margin: 0;">
                            <input type="hidden" name="registrationId" th:value="${registration.id}"/>
                            <button type="submit" class="unregister-btn">Unregister</button>
                        </form>
                    </div>
                </div>
                <div th:if="${upcomingRegistrations.isEmpty()}">
                    <p>You are not registered for any upcoming races.</p>
                </div>
            </div>
            <div class="content-box">
                <h3 class="box-title">Race history</h3>
                <div class="history-list">
                    <div th:if="${!pastRegistrations.isEmpty()}" th:each="dto : ${pastRegistrations}"
                         class="history-row">
                        <div class="date-container small-date">
                            <span class="day" th:text="${#temporals.day(dto.registration.event.date)}">15</span>
                            <span class="month"
                                  th:text="${#temporals.monthNameShort(dto.registration.event.date)}">NOV</span>
                        </div>
                        <div class="race-info">
                            <h4 th:text="${dto.registration.event.name}">Dušičkový závod</h4>
                            <p th:text="${dto.registration.event.location} + ' • ' + ${dto.registration.category.name}">
                                Skala • H21</p>
                        </div>
                        <div th:if="${dto.rank > 0}" class="result-badge">
                            <span class="place" th:text="${dto.rank} + '. place'">5th</span>
                            <span class="time"
                                  th:text="${#numbers.formatInteger(dto.registration.durationInSeconds / 60, 2) + ':' + #numbers.formatInteger(dto.registration.durationInSeconds % 60, 2)}">45:20</span>
                        </div>
                        <div th:unless="${dto.rank > 0}" class="result-badge status-badge-red">
                            <span th:text="${dto.registration.status}">DSQ</span>
                        </div>
                    </div>
                    <div th:if="${pastRegistrations.isEmpty()}">
                        <p>No past races.</p>
                    </div>
                </div>
                <a th:if="${totalPastRaces > 3}" th:href="@{/race-history}" class="full-history">View full history</a>
            </div>
        </div>
    </div>

</main>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-bottom">
            <p>&copy; 2026 O:Pocket.</p>
        </div>
    </div>
</footer>
</body>
</html>